<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dean.weather"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-sdk android:minSdkVersion="21"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:node="replace">

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--Onboarding activity-->
        <activity android:name=".OnboardingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/OnboardingTheme">
        </activity>

        <!--Intro activity-->
        <activity android:name=".IntroActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Main Activity-->
        <activity android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialTheme"
            android:launchMode="singleTop">
        </activity>

        <!--Day Activity-->
        <activity android:name=".DailyActivity"
            android:theme="@style/ActivityTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity">
        </activity>

        <!--Settings activity-->
        <activity android:name=".settingsActivity"
            android:theme="@style/SettingsTheme"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:parentActivityName=".MainActivity">
        </activity>

        <!--Settings tutorial activity-->
        <activity android:name=".tutorialActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/OnboardingTheme">
        </activity>

        <!--Active notification service-->
        <service android:name="dean.weather.notificationService"
            android:exported="false">
        </service>

        <!--Summary notification service-->
        <service android:name="dean.weather.summaryService"
            android:exported="false">
        </service>

        <!--Alarm interface service-->
        <service android:name=".alarmInterface"
            android:exported="false">
        </service>

        <!--Notification intent receiver-->
        <service android:name="dean.weather.notificationIntentHandler"
            android:exported="false">
        </service>

        <!--Boot receiver-->
        <receiver
            android:name="dean.weather.bootReceiver"
            android:label="bootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

    </application>
</manifest>